<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRatGameService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49409/RatGameService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRatGameService"
                contract="RatGameServiceData.IRatGameService" name="BasicHttpBinding_IRatGameServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>
