<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRatGameService" />
                <binding name="BasicHttpBinding_IRatGameService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRatGameService"
                contract="RatGameService.IRatGameService" name="" kind=""
                endpointConfiguration="" />
            <endpoint address="http://localhost:49409/RatGameService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRatGameService1"
                contract="RatGameServiceData.IRatGameService" name="BasicHttpBinding_IRatGameService" />
        </client>
    </system.serviceModel>
</configuration>
